#Binary Files
*.bin
*.sys

#The images
*.img
*.qcow2
*.vmdk

#Object files
*.o

#idea 
.idea
*.idea
runWin.sh
runWin.sh
CMakeLists.txt
./CMakeLists.txt
cmake-build-debug
.gdb_history
.tgdbinit
.tgdbinit.save
make_out.txt
.gdb_history
compile_out.txt
.bash_history
.report.task
complie_out_toolchain.txt
.cache
./cache
.gdbinit
.gdbinit_old
.tgdbinit
.tmux.conf
tgdb
.gdb_history
gdbinit
gdbinit_old
tgdbinit
tmux.conf
